.percent .str{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
}

.graph {
    width: 150px;
    height: 150px;
  
    margin: 32px;
    margin-top: 40%;

    transform: rotate(-90deg);
}

.margin-svg-top{
    margin-top: 25%;
}
