:root{
    --accent: #F66620;
    --accennt-green: #5C7F71;
    --accent-red: #802520;
    --accent-yellow: #BA8530;
    --white: #F6EFE2;
    --black: #201919;
}   

.accent{
    color: var(--accent)
}

.accent-first::first-letter{
    color: var(--accent)
}

.green-accent{
    color: var(--accennt-green);
}

.red-accent{
    color: var(--accent-red)
}

.yellow-accent{
    color: var(--accent-yellow)
}

.white{
    color: var(--white)
}

.back-black{
    background-color: var(--black);

    color: var(--white);
}

.back-white{
    background-color: var(--white);

    color: var(--black);
}

.back-green{
    background-color: var(--accennt-green);
}
