
.flex{
    display: flex;
}

.flex-c{
    flex-direction: column;
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.flex-3{
    flex: 3;
}

.flex-4{
    flex: 4;
}

.flex-5{
    flex: 5;
}

.flex-g-1{
    flex-grow: 1;
}

@for $i from 1 through 10{
    .flex-#{$i} {
        flex: $i;
    }

    .flex-g-#{&i}{
        flex-grow: $i;
    }
}


