@font-face {
    font-family: 'futura-medium';
    src: url('../fonts/Futura Medium.otf') format('opentype');
}
.futura-font-bold{
    font-family: "futura-medium";
    font-weight: bolder;
}
.futura-font-light{
    font-family: "futura-medium";
    font-weight: lighter;
}

@font-face {
    font-family: 'helvetica-regular';
    src: url('../fonts/Helvetica-Normal Regular.ttf') format('truetype');
}
.helvetica-font{
    font-family: "helvetica-regular";
}

.font-2{
    font-size: 2px;
}
.font-4{
    font-size: 4px;
}
.font-8{
    font-size: 8px;
}
.font-16{
    font-size: 16px;
}
.font-32{
    font-size: 32px;
}
.font-64{
    font-size: 64px;
}
.font-128{
    font-size: 128px;
}
