:root{
	--v-val: 9vh;
	--h-val: 3vw;
}

.hexes{
	width: 40vw;
	height: 40vh;
	align-items: center;
	transform: translateX(60vw);
}

.hex-wrapper{
	
}

.hex{
	width: 5vw;
	aspect-ratio: 200 / 173;
	margin-top: 4vh;
}

.hex:hover{
	transform: scale(0.8);
}

.hex-right-1{
	transform: translateX(-3vw);
}

.hex-left-1{
	transform: translateX(3vw);
}

.hex-right-2{
	transform: translateX(-6vw);
}

.hex-left-2{
	transform: translateX(6vw);
}

.hex-right-3{
	transform: translateX(-9vw);
}

.hex-left-3{
	transform: translateX(9vw);
}

.hex-right-4{
	transform: translateX(-12vw);
}

.hex-left-4{
	transform: translateX(12vw);
}



.hex-left-5{
	transform: translateX(15vw);
}

.hex-left-6{
	transform: translateX(18vw);
}

.hex-left-7{
	transform: translateX(21vw);
}

.hex-left-8{
	transform: translateX(24vw);
}

.hex-left-9{
	transform: translateX(27vw);
}

.hex-left-10{
	transform: translateX(30vw);
}
