.resizeimage{
    width: 100%;
    object-fit: cover;
}

.arrow-image{
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.image-card{
    width: 33%;
    height: 128px;
}


