.margin-2{
    margin: 2px;
}

.margin-4{
    margin: 4px;
}

.margin-8{
    margin: 8px;
}

.margin-16{
    margin: 16px;
}

.margin-32{
    margin: 32px;
}

.margin-64{
    margin: 64px;
}

.margin-128{
    margin: 128px;
}

.def-margin-top{
    margin-top: 16px;
}

@for $i from 1 through 10{
    .left-margin-#{$i * 5} {
        margin-left: 5% * $i;
    }

    .right-margin-#{$i * 5} {
        margin-right: 5% * $i;
    }

    .top-margin-#{$i * 5} {
        margin-top: 5% * $i;
    }

    .bottom-margin-#{$i * 5} {
        margin-bottom: 5% * $i;
    }
}

.bottom-margin{
    margin-bottom: 8%;
}

.bottom-margin-mega{
    margin-bottom: 40%;
}
