.mirror-str{
    height: 90px;
    overflow: hidden;
}

.mirror-str > .mirror{
    transform: scale(1, -1);
    height: 60px;
}

.mirror-str > .mirror:first-letter{
    color: var(--accent);
}

.mirror-str > .str:first-letter{
    color: var(--accent);
}
