.padding-2{
    padding: 2px;
}

.padding-4{
    padding: 4px;
}

.padding-8{
    padding: 8px;
}

.padding-16{
    padding: 16px;
}

.padding-32{
    padding: 32px;
}

.padding-64{
    padding: 64px;
}

.padding-128{
    padding: 128px;
}
