.padding-2{
    padding: 2px;
}

.padding-4{
    padding: 4px;
}

.padding-8{
    padding: 8px;
}

.padding-16{
    padding: 16px;
}

.padding-32{
    padding: 32px;
}

.padding-64{
    padding: 64px;
}

.padding-128{
    padding: 128px;
}

@for $i from 1 through 10{
    .left-padding-#{$i * 5} {
        padding-left: 5% * $i;
    }

    .right-padding-#{$i * 5} {
        padding-right: 5% * $i;
    }

    .top-padding-#{$i * 5} {
        padding-top: 5% * $i;
    }

    .bottom-padding-#{$i * 5} {
        padding-bottom: 5% * $i;
    }
}
