body{
  background-color: #F6EFE2;
  
  color: #201919;
}

.accent{
  color: #F66620;
}


.center{
  text-align: center;
}

.no-margin{
  margin: 0;
}

.back-black{
  background-color: #201919;

  color: #F6EFE2;
}

.back-white{
  background-color: #F6EFE2;

  color: #201919;
}

.vertical-margin{
  margin-top: 32px;
  margin-bottom: 32px;
}

.flex{
  display: flex;
}

.left-text{
  text-align: left;
}

.right-text{
  text-align: right;
}

.justify-center{
  justify-content: center;
}

.justify-sa{
  justify-content: space-around;
}

.justify-bw{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.width-side{
  width: 50%;
}

.box{
  width: 256px;
  height: 256px;
}

.circle{
  clip-path: circle(250px at 295px 270px);
  border: 2px solid #F66620;
  border-radius: 100%;
}
