body{
  background-color: #F6EFE2;
  
  color: #201919;
}

.center{
  text-align: center;
  justify-content: center;
  align-self: center;
}

.no-margin{
  margin: 0;
}

.vertical-margin{
  margin-top: 32px;
  margin-bottom: 32px;
}

.horizontal-padding{
  padding-left: 10%;
  padding-right: 10%;
}

.left-text{
  text-align: left;
}

.right-text{
  text-align: right;
}

.justify-center{
  justify-content: center;
}

.justify-sa{
  justify-content: space-around;
}

.justify-bw{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.width-side{
  width: 50%;
}

.box{
  width: 256px;
  height: 256px;
}

.circle{
  clip-path: circle(250px at 295px 270px);
  border: 2px solid #F66620;
  border-radius: 100%;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.shadow{
  box-shadow: 8px 8px #F66620;
}

.piller{
  background-color: #201919;
  width: 2px;
  height: 100%;
}

.inline{
  display: inline-block;
}

.z-index-256{
  z-index: 256;
}
